.loader2 {

  width: 10%;
  height: 0%;
  border-radius: 5%;
  padding-top: 50px;
  padding-bottom: 50px;

  animation: spin 10s linear infinite;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

:root{
  --main-cc:grey;
  --circ4-op:1;
  --circ3-op:0.8;
  --circ2-op:0.6;
  --circ1-op:0.4;
  --circ-op:0.2;

  --circ4-bd:8px;
  --circ3-bd:6px;
  --circ2-bd:4px;
  --circ1-bd:3px;
  --circ-bd:1px;


}


 .circle{
     position:fixed;
     width:5%;
     padding-bottom:50%;
     margin-right: 50%;
     margin-left:50%;
     margin-top: 10px;
     margin-bottom: 10px;
 }

 .circle  div  {
     top:0; left:0;
     width:100%; height:100%;
     transform : rotate(24deg);

 }
 .circle:before,  div:before {


     position:fixed;
     top:0; left:0;
    transform: ; 
     width:100%; padding-bottom:100%;
     border-radius: 100%;
     border: var(--circ-bd) solid var(--main-cc);
     background: var(--main-cc);
     opacity:var(--circ-op);
 }

 .circle1:before, div:before {

     content:'';
     position:fixed;
     top:0; left:0;
    transform: ; 
     width:100%; padding-bottom:100%;
     border-radius: 100%;
     border: var(--circ1-bd) solid var(--main-cc);
     background: var(--main-cc);
     opacity:var(--circ1-op);
 }
  .circle2:before,  div:before {

     content:'';
     position:fixed;
     top:0; left:0;
    transform: ; 
     width:100%; padding-bottom:100%;
     border-radius: 100%;
     border: var(--circ2-bd) solid var(--main-cc);
     background: var(--main-cc);
     opacity:var(--circ2-op);
 }
   .circle3:before,  div:before {

     content:'';
     position:fixed;
     top:0; left:0;
    transform: ; 
     width:100%; padding-bottom:100%;
     border-radius: 100%;
     border: var(--circ3-bd) solid var(--main-cc);
     background: var(--main-cc);
     opacity:var(--circ3-op);
 }
   .circle4:before,  div:before {

     content:'';
     position:fixed;
     top:0; left:0;
    transform: ; 
     width:100%; padding-bottom:100%;
     border-radius: 100%;
     border: var(--circ4-bd) solid var(--main-cc);
     background: var(--main-cc);
     opacity:var(--circ4-op);
     
 }