<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socket</title>
	<link rel="stylesheet" type="text/css" href={{__dirname}}"/css/clicker.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
      <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="/socket.io/socket.io.js" charset="utf-8"></script>
	<script src="{{__dirname}}/js/clicker.js" charset="utf-8"></script>
	<script>
		game.init();
	</script>
	

</head>
<body>

<div id="rival"></div>
<div class="campo" id="campo">
	<div class="finish"><<<<<== OPONENTE ==>>></div>
	<div class="split left">

  			<div class="game-especificacion">
				<div class="UserPlayer" id="up2">  		<p></p>		</div>
				<div class="LivePlayer" id="lp2">  			<p></p>		</div>
				<div id="lp2-bar"><p></p></div>
				<div class="namePlayer" id="np2"><p></p></div>
  						
  			</div>
  		<div class="centered ">
			<div class="click-container P2" id="Player2">
			<div id="Player1Click"></div>
				<div class="pesonaje-container rounded-circle">
					<div class="impacto"></div>
					<div id="img-p2">
						<img src="" alt="">
						<div clsas="wait"></div>
					</div>
					<!--
					<img src="/img/freezer-0".gif" alt="P2">
						<button class="click" id="Player2">Freezer</button>
					-->
				</div>
			</div>
		</div>
	</div>	
	<div class="split right">

  			<div class="game-especificacion">
				<div class="UserPlayer" id="up1">  	<p></p>			</div>
				<div class="LivePlayer" id="lp1">  		<p></p>			</div>
				<div id="lp1-bar"><p></p></div>
				<div class="namePlayer" id="np1"><p></p></div>
  						
  			</div>
  		<div class="centered">
			<div class="click-container P2" id="Player1">
				<div id="Player2Click"></div>
				<div class="pesonaje-container rounded-circle">
					<div class="impacto"></div>
					<div id="img-p1">
						<img src="" alt="">
						<div clsas="wait"></div>
					</div>
					<!--
					<img src="/img/Goku-0.png" alt="P1">
						<button class="click" id="Player1">Goku</button>
						<button class="click" id="Player2">Freezer</button>
					-->
				</div>
			</div>
		</div>
	</div>
</div>

<div class="clickAtack"></div>

</body>
</html>