<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socket</title>
	<link rel="stylesheet" type="text/css" href={{__dirname}}"/css/clicker.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
	<script src="/socket.io/socket.io.js" charset="utf-8"></script>
	<script src="{{__dirname}}/js/clicker.js" charset="utf-8"></script>
	<script src="{{__dirname}}/js/clickSpark.js" charset="utf-8"></script>

</head>
<body>


<div class="campo" id="campo">
	<div class="finish"></div>
	<div class="split left">
  			<div class="game-especificacion">
				<div class="namePlayer" id="np2"></div>
				<div class="UserPlayer" id="up2">  				</div>
				<div class="LivePlayer" id="lp2">  					</div>
				<div id="lp2-bar"></div>
  						
  			</div>
  		<div class="centered ">
			<div class="click-container" id="player2">
				<div class="pesonaje-container rounded-circle">
					<div class="impacto"></div>
					<div id="img-p1">
						
					</div>
					<!--
					<img src="/img/freezer-0".gif" alt="P2">
						<button class="click" id="Player2">Freezer</button>
					-->
				</div>
			</div>
		</div>
	</div>	
	<div class="split right">
  			<div class="game-especificacion">
				<div class="namePlayer" id="np1"></div>
				<div class="UserPlayer" id="up1">  				</div>
				<div class="LivePlayer" id="lp1">  					</div>
				<div id="lp1-bar"></div>
  						
  			</div>
  		<div class="centered">
			<div class="click-container" id="player1">
				<div class="pesonaje-container rounded-circle">
					<div class="impacto"></div>
					<div id="img-p2">
						
					</div>
					<!--
					<img src="/img/Goku-0.png" alt="P1">
						<button class="click" id="Player1">Goku</button>
						<button class="click" id="Player2">Freezer</button>
					-->
				</div>
			</div>
		</div>
	</div>
</div>

<div class="clickAtack"></div>

</body>
</html>