h1{
	font-size: 55px;
	text-align: center;
}
.titulo{
	font-size: 40px;
	text-align: center;
	text-decoration-line: underline;
}
h4{
	font-size: 20px;
}

.body{
	  
    align-items:center;
}
.articulo{

}
.post{
	 background-color: #ccccff;
    width: 100%;
    
    
}
.footer{
	font-size: 20px;
	text-align: center;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.comentario{
	margin-left: 20px;
}
.tag{
	border-style: solid;
	border-width: 1px;
	
	width: 8%;
	margin: 5px;
	display: inline;
}

body{
	background-color: #ffe6e6;
}
.link{
	font-size: 20px;

}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: #ff6666;
}

/* selected link */
a:active {
    color: blue;
}
label{
	font-size: 20px;
}

input[type=text], select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type=submit] {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
input[type=file]{
	 width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
