

img {
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
}


.click-container{
	width: 15%;
	height: 15%;
}
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #111;
}

.right {
    right: 0;
    background-color: red;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}
.clickeffect{
    font-size: 2em;
    color:white;
    position: absolute;
    /*
    */
}
.click-container:active{
    transform: translateY(4px);
}
.game-especificacion{
    color:white;
    font-size: 2em;
    position: relative;
}