

img {
	width: 10vw;

	border-radius: 50%;
    


}

progress {
  display: block; /* default: inline-block */
  width: 300px;
  margin: 2em auto;
  padding: 4px;
  border: 0 none;
  background: #fff;
  border-radius: 14px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}
progress::-moz-progress-bar {
  border-radius: 12px;
  background: #ff000;
  box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3);
  
}
/* webkit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  progress {
    height: 25px;
  }
}
progress::-webkit-progress-bar {
    background: transparent;
}  
progress::-webkit-progress-value {  
  border-radius: 12px;
  background: #ff0000;
  box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3); 
} 
/*
*/


.namePlayer
{
    display:none;
}

.click-container{
	width: 15%;
	height: 15%;
}
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    /*z-index: 1;
    top: 0;
    /*overflow-x: hidden;*/
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #111;
}

.right {
    right: 0;
    background-color: red;
}

.centered {
    position: absolute;
        top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 150px;
    border-radius: 50%;
        width: 22vw;
}
.clickeffect{
    font-size: 2em;
    color:white;
    position: absolute;
    /*
    */
}
.click-container:active{
    transform: translateY(4px);
}
.game-especificacion{
    color:white;
    font-size: 1em;
    position: relative;
    display:  center;
    text-align: center;
}
/* 
.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content {
    z-index: 1;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
*/
.UserPlayer
{
        border: white solid;
    font-size: 21px;
    display: flex;
    background-color: red;
    padding: 0 5%;
    border-radius: 0 0 100% 0;
}
#up2
{
    background-color: red;
    border-radius: 0 50% 50% 0;
}
#up1
{
    background-color: black;
    border-radius: 50% 0 0 50%;
}

.clickeffect
{
    color:black;
    top:50%;
    left:50%;
    
}
.circulo {
     top:100px;
     width: 50px;
     height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #e9ef1aad;
     z-index: 1;
}