@media print{
  body{ }
 	a{display: none;}
 	.fecha{display: none;}
 	.stag{display: none}
 	figure{page-break-after: always;}
 	.scomentario{page-break-after: always;}
 	
}
@page {
		size: A4;
		
		@top-left {
			content: "Mi tercer blog";
		}

		@top-right {
			content: "http://localhost/tp3/13/index.php";
		}

		@bottom-left {
			content: counter(page) " de " counter(pages);
		}
	}
}